/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.


*,
*::before,
*::after {
  outline: 1px solid red;
}

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 102px 2px;
  font-family: var(--main-font, Inter, "Arial", sans-serif);
  font-variation-settings: "wght" var(--main-font-weight, 400);
  background-color: var(--background-color, #fff);
  color: var(--main-color, #000);
  background-image: var(--gradient-left-to-right), var(--gradient-up-to-down),
    var(--gradient-up-to-down-saturation);
  background-size: cover;
  display: grid;
  grid-template-rows: auto 104px auto 54px auto;
  grid-template-areas:
    "header"
    "."
    "main"
    "."
    "footer";
  justify-items: center;
}

.header {
  background-color: var(--background-color);
  width: clamp(371px, 90%, 696px);
  height: calc(100vh * (323 / 667));
  max-height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  border: 2px solid var(--main-color);
  grid-area: header;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  margin-block-end: 25px;
  margin-block-start: 5px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item:disabled {
  content: "▶";
  cursor: default;
}

/*Кнопки переключения тем*/

.theme-menu__button {
  color: var(--main-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s;
  /*animation: theme-menu__button-hover_rev 0.3s ease forwards;*/
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: " ";
  display: inline-block;
  width: 85%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -3px;
  left: 7px;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.3s;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

/*
.theme-menu__button:hover {
  cursor: pointer;
  animation: theme-menu__button_hover 0.3s ease-in forwards;
}

@keyframes theme-menu__button_hover {
  0% {
    color: var(--main-color);
  }

  100% {
    color: var(--main-color);
    opacity: 0.6;
  }
}

@keyframes theme-menu__button-hover_rev {
  0% {
    color: var(--main-color);
    opacity: 0.6;
  }

  100% {
    color: var(--main-color);
  }
}
*/

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  cursor: default;
  position: absolute;
  margin-inline-start: -20px;
  animation: moving-cursor 0.5s ease-in-out infinite alternate forwards;
}

@keyframes moving-cursor {
  0% {
    margin-inline-start: -18px;
  }

  100% {
    margin-inline-start: -22px;
  }
}

/*Контент*/

.main {
  width: clamp(371px, 100%, 696px);
  grid-area: main;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(3.125rem, 3.037rem + 0.3756vw, 3.375rem);
}

.cards__item {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
}

.cards__title {
  padding: 10px 5px;
  color: var(--main-color);
  font-family: var(--main-font, Inter, "Arial", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--accent-font-weight);
  line-height: normal;
}

/*.cards__img_icon {
  width: 100%;
  height: min(calc(100vw - 4px), 696px);
  background-image: url(/images/image.png);
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  background-repeat: no-repeat;
  background-size: cover;
}*/

.cards__img_icon {
  position: relative;
}

.card_img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.brightness {
  filter: contrast(140%) brightness(80%);
}

.shelf {
  filter: brightness(70%);
}

.crazy {
  filter: contrast(150%);
}

.tree {
  filter: brightness(50%) sepia(1);
}

.dance {
  filter: blur(2px) brightness(70%) contrast(70%);
}

.paper {
  filter: hue-rotate(0.9turn) brightness(70%);
}

.sunset {
  filter: brightness(70%) saturate(200%);
}

.cards__icon {
  padding-block-start: min(calc(100vw * (23 / 375)), 25px);
  padding-inline-end: min(calc(100vw * (11 / 375)), 25px);
  position: absolute;
  z-index: 2;
  right: 0px;
  text-align: center;
  color: var(--main-color);
  font-family: var(--accent-font, "Arial", sans-serif);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px var(--icon-shadow-color),
    -1px -1px var(--icon-shadow-color);
}

.cards__text {
  font-size: 18px;
  font-family: var(--main-font, Inter, "Arial", sans-serif);
  font-style: normal;
  font-weight: var(--main-font-weight);
  line-height: 21px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

/*Кнопки в карточке*/

.buttons {
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
}

/*Кнопка с сердечком*/

.card__icon-button {
  width: 38px;
  height: 35px;
  background-color: transparent;
  border: none;
  padding: 0;
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
}

.card__icon-button:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
}

.card__icon-button:focus-visible {
  outline-color: var(--main-color);
  transition-property: outline-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.card__icon-button:hover {
  cursor: pointer;
}

/*Анимация SVG сердечка*/

.is-liked .heart {
  transform-origin: center;
  animation: heart-scaling 0.3s ease-in 0.1s alternate 2;
}

@keyframes heart-scaling {
  to {
    transform: scale(1.2);
  }
}

/*Черная обводка*/
.contour {
  fill: var(--main-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.06s linear;
}

/*Красная сердцевина*/
.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s 0s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.05s linear;
}

/*Белая сердцевина*/
.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s 0s linear;
}

.card__icon-button:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s 0s linear;
}

/*Красные точки*/
.sparks {
  fill: var(--sparks-color);
  opacity: 0;
}

.is-liked .sparks {
  transform-origin: center;
  animation: sparks-appearing 0.3s ease-in 0.3s alternate 2;
}

@keyframes sparks-appearing {
  to {
    opacity: 1;
  }
}

/*Кнопка Like*/

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  background-color: transparent;
  border: 2px solid var(--main-color, #000);
}

.button:focus {
  outline: none;
}

.button {
  box-shadow: none;
  transition: box-shadow 0.3s;
  position: relative;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
  transition: box-shadow 0.3s;
}

.button::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover {
  cursor: pointer;
}

.button:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.footer {
  grid-area: footer;
}

/*Кнопка Сохранить на память*/

.save__button {
  padding: 20px 15px;
  width: min(calc(100vw * (306 / 376)), 335px);
  border: 2px solid var(--main-color, #000);
  background: var(--background-color, #fff);
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button__text {
  display: block;
  color: var(--acent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  position: relative;
  mix-blend-mode: difference;
}

/*SVG дискеты в кнопке*/

.floppy_svg {
  width: min(28px, calc(28px - (100vw - 1433px)));
  min-width: 21px;
  height: auto;
  color: var(--acent-color);
  mix-blend-mode: difference;
}

/*Dialog - модальное окно*/

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog {
  margin-inline: clamp(1.0625rem, -10.4692rem + 49.2019vw, 33.8125rem);
  width: min(calc(100vw * (341 / 375)), 357px);
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.dialog_text_svg {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dialog_svg {
  min-width: 39px;
  height: 39px;
}

.dialog_text {
  max-width: 234px;
  line-height: 150%;
  text-transform: uppercase;
}

.close-button {
  width: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
  height: 38px;
}
